.schedule {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--background-color);
}

.tableRow {
  background-color: var(--extra-color);
}

.tableHeader {
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: center;
}

.tableData {
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 8px;
  text-align: left;
}
